
body {
  background-color: #ff82b6;
  color: red;
  text-align: center; }

.header {
  color: white;
  font-family: 'Bowlby One SC', cursive;
  margin-top: 20px;
  font-size: 40px; }

.instructions {
  color: white;
  font-family: 'Bowlby One SC', cursive;
  font-size: 15px; }
