@import 'colors.scss';

body {
  background-color: $pink;
  color: red;

}

.nav-pills {
  li{
    list-style-type: none;
  }


}

.header{
  color: white;
  font-family: 'Bowlby One SC', cursive;
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
}

.instructions{
  color:white;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.pictures{
  width: 100px;
}
